*, *::after, *::before {
    margin: 0;
    padding: 0;
}

.img{
    position: relative;
    width: 300px;
    height: 300px;
}

.img > *{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.grid-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-image: url(../img/worldmap.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.grid-container > *{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

*[data-area]::after {
    content: attr(data-area);
    background: white;
    padding: 1em;
    border-radius: 15px;
}

*[data-area]:hover::after  {
    cursor: pointer;
}

*[data-locked="true"]::before{
    content: "AREA LOCKED";
    position: absolute;
    padding: 2em;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}


*[data-locked="true"]{
    background: rgba(0, 0, 0, 0.95);
    border: 3px solid black;
}

