
.Battle .skill .skill-img:hover{
    cursor: default;
    outline: 2px ridge rgb(221, 218, 218);
}


.Battle .skills-select{
    background: rgba(80, 78, 78, 0.404);
    padding: 3px;
    border-radius: 3px;
    display: flex;
    flex-wrap: nowrap;
    color: white;
    font-size: 6px;
    text-shadow: 1px 1px black;
}

.Battle .skills-select h1 {
    font-size: 6px;
    color: orange;
    text-shadow: 1px 1px black;
}

.Battle .skill-select-organizer {
    display: flex;
    flex-direction: column;
}

.Battle .skill-select-organizer > *{
    flex-grow: 1;
}

.Battle .skill-select-attr{
    display: flex;
    gap: 5px;
}

.Battle .skill-select-title{
    display: flex;
    align-items: center;
    gap: 2px;
}

.Battle .skills-select button{
    cursor: pointer;
}

.Battle .skill-select-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.Battle .skill-select-button-container button{
    font-size: 10px;
    font-weight: bold;
    border: 2px ridge rgb(204, 202, 202);
    border-radius: 2px;
    padding: 1px;
    background-color: rgb(96, 96, 124);
    color: white;
    text-shadow: 1px 1px black;
    letter-spacing: 1.2px;
}

.Battle .skill-select-button-container button:hover{
    border: 2px ridge rgb(156, 154, 154);
    background-color: rgb(86, 86, 105);
    color: rgb(206, 201, 201);

}

.Battle .skill-select-button-container button[data-inactive="true"]{
    background-color: rgb(79, 79, 85);
    cursor: default;
    color: rgb(83, 81, 81);
    border: 2px ridge rgb(109, 107, 107);
}

.Battle .skill-select-button-container button[data-inactive="true"]:hover{
    background-color: rgb(79, 79, 85);
    cursor: default;
    color: rgb(83, 81, 81);
    border: 2px ridge rgb(109, 107, 107);
}

.Battle .bear-container[target-selected="true"]{
    outline: 2px ridge greenyellow;
    cursor: pointer;
}

.Battle .bear-container[target-selected="false"]{
    outline: 2px ridge rgb(245, 244, 244);
    cursor: pointer;
}