.SkillSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 2px;
    display: flex;
}

.SkillSelect .left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.SkillSelect .all-skills {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.SkillSelect .skill-container{
    width: 65px;
    text-align: center;
    color: white;
}

.SkillSelect .skill-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 5px;
}

.SkillSelect .skill-icon{
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.SkillSelect .skill-icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.SkillSelect .skill-grid .skill-icon:nth-child(3n+1){
    grid-column: span 2;
}

.SkillSelect .right-side{
    width: 10px;
    border: 1px solid white;
    background-color: rgb(236, 208, 176);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    gap: 5px;
}

.SkillSelect .right-side .skill-icon{
    cursor: default;
}

.SkillSelect > * {
    flex-grow: 1;
}

.SkillSelect .right-side .desc{
    font-size: 8px;
    text-align: center;
}

.SkillSelect .inactive img{
    filter: brightness(30%);
}


.SkillSelect .available{
    outline: 1px solid white;
}

.SkillSelect .selected{
    outline: 1px solid yellow;
}